      <h2 class="red text-center">Contact</h2>
      <div id="contact">
        <table>
          <tr><td><span class="red fa fa-envelope">  </span></td><td> office <span class="red"><b>@</b></span> shepherdtone.co.uk</td></tr>
          <tr><td><span class="red fa fa-map-marker"></span></td><td> Southwark, London, UK                                      </td></tr>
          <tr><td><span class="red fa fa-phone">     </span></td><td> (+44) 7597 676 310                                         </td></tr>
        </table>
      </div>
