<footer>
  <div class="container black-bg white">
    <div class="row">

      <div class="col-1-of-3">
        <h2 class="red">About</h2>
          <p>ShepherdTone is a creative film production collective that seeks to integrate a broad knowledge and experience into film cross media works. Our goal is to release our clients and collaborators from the burdens of uncertain technicalities and aesthetic doubts, and to make the film-making process as easy and enjoyable as possible. </p>
      </div>

      <div class="col-1-of-3">
      {% include contact.html %}
      </div>

      <div class="col-1-of-3">
        <h2 class="red">Navigation</h2>
        <ul class="footer-menu">
          <li class="menu-item">
            <a href="portofolio">Portfolio</a>
          </li>
          <li iclass="menu-item">
            <a href="services">Services</a>
          </li>
          <li class="menu-item">
            <a href="equipment">Equipment</a>
          </li>
          <li class="menu-item">
            <a href="about">About us</a>
          </li>
          <li class="menu-item">
            <a href="contact">Contact</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div id="copyright" class="container red-bg white">
    <div class="row">
      <p class="text-center">ShepherdTone © 2014-{{ site.time | date: '%Y' }}
      <br/>Site made with 🖤 by <a href="https://mis.pm" target="_blank">mis</a></p>
    </div>
  </div>

</footer>

<script type="text/javascript" src="{{ "assets/js/script.js" | relative_url }}"></script>
