<header role="banner" class="container dark-bg">
  <div class="row">

    <span id="logo">
      <h1 class="hide"><a href="">{{ site.title | escape }}</a></h1>
      <h2 class="hide"><a href="">{{ site.subtitle | escape }}</a></h2>
      <a href="/" title="ShepherdTone" rel="home">
        <img src="assets/img/LOGO-header-invert.png" alt="ShepherdTone">
      </a>
    </span>

    <div id="menu" class="menu right">
      <ul class="menu">
        <li class="menu-item">
          <a href="">Home</a>
        </li>
        <li class="menu-item">
          <a href="portfolio">Portfolio</a>
        </li>
        <li class="menu-item">
          <a href="services">Services</a>
        </li>
        <li class="menu-item">
          <a href="equipment">Equipment</a>
        </li>
        <li class="menu-item">
          <a href="about">About us</a>
        </li>
        <li class="menu-item">
          <a href="contact">Contact</a>
        </li>
      </ul>
    </div>
    <div id="menu-icon" class="right hide">
      <span class="red fa fa-bars" id="toggle-menu"></span>
    </div>
    <div id="menu-mobile" class="hide">
      <ul class="menu">
        <li class="menu-item">
          <a href="">Home</a>
        </li>
        <li class="menu-item">
          <a href="portofolio">Portfolio</a>
        </li>
        <li class="menu-item">
          <a href="services">Services</a>
        </li>
        <li class="menu-item">
          <a href="equipment">Equipment</a>
        </li>
        <li class="menu-item">
          <a href="about">About us</a>
        </li>
        <li class="menu-item">
          <a href="contact">Contact</a>
        </li>
        <li></li>
        <li></li>
      </ul>
      <a id="close-menu" class="red">x</a>
    </div>
  </div>
</header>

