{% if item.youtube_id %}
  {% assign video_id = item.youtube_id %}
  {% assign player_id = "https://www.youtube.com/embed/" %}
{% elsif item.vimeo_id %}
  {% assign video_id = item.vimeo_id %}
  {% assign player_id = "https://player.vimeo.com/video/" %}
{% endif %}


{% if item.EPK %}
<a class="col-1-of-3" href="{{ item.EPK }}" target="_blank"> 
{% else %}
<a class="col-1-of-3" onclick="fullscreen('video_{{ video_id }}')">
{% endif %}

  <div class="image">
    <img src="{{ item.thumb }}">
  </div>
  <h2 class="text-center">{{ item.title }}</h2>
  {% if item.dir %}
    <h4 class="text-center">Dir. {{ item.dir }}</h4>
  {% else %}
    <h4 class="text-center">&nbsp;</h4>
  {% endif %}

  {% if video_id %}
  <div class="fullscreen" id="video_{{ video_id }}">
    <iframe src="{{ player_id }}" frameborder="0" loading="lazy"
            webkitallowfullscreen mozallowfullscreen allowfullscreen allow="fullscreen;"
            class="hide">
    </iframe>
  </div>
  {% endif %}

</a>
